.btn {
    height: 44px;
    padding: 0 1.2rem;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: all var(--transition-base);
}

.btn-primary {
    background-color: var(--color-primary);
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.btn-primary:hover {
    background-color: var(--color-primary-hover);
}

.btn-secondary {
    background-color: transparent;
    border: 1px solid var(--color-border);
    color: var(--color-text-main);
}
.btn {
    width: 100%;
}
